body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:701px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:701px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:342px;
  width:1376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:644px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:277px;
  height:644px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:632px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:46px;
  width:537px;
  height:632px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:308px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:46px;
  height:31px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:80px;
  width:31px;
  height:5px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:28px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:69px;
  width:517px;
  height:173px;
  font-size:28px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:497px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:109px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:124px;
  width:476px;
  height:99px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:167px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:112px;
  width:4px;
  height:162px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:73px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:124px;
  height:31px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:270px;
  width:109px;
  height:5px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:28px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:260px;
  width:517px;
  height:84px;
  font-size:28px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:497px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:124px;
  height:31px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:360px;
  width:109px;
  height:5px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:253px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u112 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:354px;
  width:517px;
  height:253px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:497px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:73px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:460px;
  width:482px;
  height:63px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:478px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:354px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u116 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:51px;
  width:220px;
  height:354px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:262px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:424px;
  width:262px;
  height:262px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:123px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:353px;
  width:158px;
  height:31px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:154px;
  word-wrap:break-word;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:9px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u123 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:9px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u124 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:9px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u125 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:9px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u126 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:9px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u127 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:9px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u128 {
  border-width:0px;
  position:absolute;
  left:1311px;
  top:9px;
  width:69px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
