body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1389px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:749px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:749px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:28px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:61px;
  width:532px;
  height:128px;
  font-size:28px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:512px;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:115px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:215px;
  width:5px;
  height:100px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:401px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:28px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:325px;
  width:648px;
  height:401px;
  font-size:28px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:628px;
  word-wrap:break-word;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:129px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:384px;
  width:600px;
  height:119px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:73px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:529px;
  width:605px;
  height:63px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:93px;
  height:31px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:263px;
  width:78px;
  height:5px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:28px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:268px;
  width:532px;
  height:113px;
  font-size:28px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:512px;
  word-wrap:break-word;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:7px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u279 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:7px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u280 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:7px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u281 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:8px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u282 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:7px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u283 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:8px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u284 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:9px;
  width:69px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
