body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1389px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:749px;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:749px;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:28px;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:72px;
  width:247px;
  height:66px;
  font-size:28px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:248px;
  width:200px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:28px;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:248px;
  width:345px;
  height:130px;
  font-size:28px;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:325px;
  word-wrap:break-word;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:7px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u309 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:7px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u310 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:7px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u311 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:8px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u312 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:7px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u313 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:8px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u314 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:9px;
  width:69px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
